/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2017, 9:14:19 PM
    Author     : amcelroy
*/

.background {
	//background: linear-gradient(yellow, red);
	background: rgba(255, 255, 5, .2);
}

.spacer{
    width: 55%;
    display:inline-block;
}

span{
    margin: 2% 2%;
}

p {
    margin-left: 0;        
}

.roiTextArea {
    vertical-align: top;
    display: inline-block;
    width: 95%;
    margin: 2;
    height: 256px;
}

#configTextArea{
    width: 100%;
    height: 100%;
    overflow-y: scroll
}

.messageTextArea {
    vertical-align: top;
    display: inline-block;
    width: 400px; 
    margin: 2;
    height: 400px;
}

#MessageBox {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    
}

#tempSlider {
    margin: 10 auto; 
    width: 90%;
    /* height: 25px; */
}

#canvasBox{
    vertical-align: top;
    display: inline-block;
    width: 75%;
    height: 60%;
    min-height: 400px;
    border: 1px solid #000000;   
    border-radius: 10px;
}

#leptonCanvas{
	width: 90%;
	height: 80%;
	border: 1px solid rgb(1, 1, 1);
}

#tahiHeader{
	width: 100%;
	height: 36px;
	margin-bottom: 5px;
	background: linear-gradient(to right, rgba(255, 5, 5, .4), rgba(255, 255, 5, .3));
}

#headerFFIC{
	margin: 10 auto;
	vertical-align: top;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 32px;
}

.statusBox{
	height: 60%;
	min-height: 400px;
	width: 20%;
    vertical-align: top;
/*    align-self: center;*/
    display: inline-block;
/*    align-content: center;*/
    border: 1px solid #000000;  
    border-radius: 10px;
}

.button {
    width: 128px;
    margin-bottom: 1;    
    
}

#buttonWrapper {
  width: 50%;
  margin: 1 auto;
  margin-top: 1px;
}

#roiFileBox {
    width: 80%;
}
